<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`Math.abs(-5): ${Math.abs(-5)}`); 
print(`Math.ceil(1.3): ${Math.ceil(1.3)}`);
print(`Math.floor(1.3): ${Math.floor(1.3)}`); 
print(`Math.random(): ${Math.random()}`);
print(`Math.trunc(1.3): ${Math.trunc(1.3)}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`Math.E: ${Math.E}`);
print(`Math.PI: ${Math.PI}`);
print(`Math.pi: ${Math.pi}`); //?
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`2**4: ${2**4}`); // Represents 2 to the 4th
print(`Math.pow(2,4) === 2 ** 4: ${Math.pow(2,4) === 2 ** 4}`);
print(`4**0.5: ${4**0.5}`); 
print(`Math.pow(4,0.5) === 4 ** 0.5: ${Math.pow(4,0.5) === 4 ** 0.5}`);

print(`<br>Check out more Math methods <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math">MDN Math</a>`);

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
